<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mjshe.tapit">

    //nfc prereqs
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/com.example.mjshe.tapit"  />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendInfo">
        </activity>
        <activity
            android:name=".InfoReceived">
        </activity>
        <activity
            android:name=".ReceiveInfo">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"  />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecentContacts">
        </activity>
        <activity
            android:name=".WaitingToSend">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/com.example.mjshe.tapit"  />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectedContact">
        </activity>
    </application>

</manifest>